<section class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h5><strong>Thông tin điểm đo</strong></h5>
        </div>
        <div class="card-body">
            <div class="row mb-1 d-flex flex-wrap align-items-start">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="form-group">
                        <label for="" >Tên trạm:</label>
                        <input class="form-control" type="text" autocomplete="off" value="<%= meter_info.name %>" id="meter_name">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="form-group">
                        <label for="" >Mã trạm:</label>
                        <input class="form-control" type="text" autocomplete="off" value="<%= MeterCode %>" readonly>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="form-group">
                        <label for="">Vị trí Lat:</label>
                        <input class="form-control" type="number" autocomplete="off"
                            value="<%= (meter_info.lat) ? Number(meter_info.lat) : null %>" id="meter_info_lat">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="form-group">
                        <label for="">Vị trí Long:</label>
                        <input class="form-control" type="number" autocomplete="off"
                            value="<%= (meter_info.lng) ? Number(meter_info.lng) : null %>" id="meter_info_lng">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="form-group">
                        <label for="">Loại thiết bị:</label>
                        <input id="meter_type" class="form-control" type="text" autocomplete="off" value="<%= meter_info.meter_type %>"  readonly >
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="form-group">
                        <label for="" >Serial sim:</label>
                        <input class="form-control" type="text" autocomplete="off" value="" readonly>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-success" id="save_info_meter" MeterCode="<%= MeterCode%>" meter_type="<%= meter_type%>">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <% if(meter_type == "MUCNUOC" || meter_type == "CSMT"){ %>
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h5><strong>Cài đặt cảnh báo</strong></h5>
        </div>
        <div class="card-body">
            <% if(meter_type=="CSMT" ){ %>
            <div class="row align-items-center py-1 border-bottom">
                <div class="col-md-8">
                    <span class="font-weight-bold h6">Độ đục</span>
                    <div class="text-muted">NTU</div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="">Ngưỡng dưới</label>
                            <input type="number" class="form-control" value="<%= meter_alert.min_doduc%>" id="min_doduc">
                        </div>
                        <div class="form-group col-6">
                            <label class="">Ngưỡng trên</label>
                            <input type="number" class="form-control " value="<%= meter_alert.max_doduc%>"id="max_doduc">
                        </div>
                    </div>
                </div>  
            </div>
            <div class="row align-items-center py-1 border-bottom">
                <div class="col-md-8">
                    <span class="font-weight-bold h6">Độ pH</span>
                    <div class="text-muted">pH</div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="">Ngưỡng dưới</label>
                            <input type="number" class="form-control" value="<%= meter_alert.min_ph%>" id="min_ph">
                        </div>
                        <div class="form-group col-6">
                            <label class="">Ngưỡng trên</label>
                            <input type="number" class="form-control" value="<%= meter_alert.max_ph%>" id="max_ph">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center py-1 border-bottom">
                <div class="col-md-8">
                    <span class="font-weight-bold h6">Nhiệt độ</span>
                    <div class="text-muted">°C</div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="">Ngưỡng dưới</label>
                            <input type="number" class="form-control" value="<%= meter_alert.min_nhietdo%>" id="min_nhietdo">
                        </div>
                        <div class="form-group col-6">
                            <label class="">Ngưỡng trên</label>
                            <input type="number" class="form-control" value="<%= meter_alert.max_nhietdo%>" id="max_nhietdo">
                        </div>
                    </div>
                </div>  
            </div>
            <div class="row align-items-center py-1 border-bottom">
                <div class="col-md-8">
                    <span class="font-weight-bold h6">Clo dư</span>
                    <div class="text-muted">mg/l</div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="">Ngưỡng dưới</label>
                            <input type="number" class="form-control" value="<%= meter_alert.min_clodu%>" id="min_clodu">
                        </div>
                        <div class="form-group col-6">
                            <label class="">Ngưỡng trên</label>
                            <input type="number" class="form-control" value="<%= meter_alert.max_clodu%>" id="max_clodu">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center py-1 border-bottom">
                <div class="col-md-8">
                    <span class="font-weight-bold h6">EC</span>
                    <div class="text-muted">uS/cm</div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="">Ngưỡng dưới</label>
                            <input type="number" class="form-control" value="<%= meter_alert.min_EC%>" id="min_EC">
                        </div>
                        <div class="form-group col-6">
                            <label class="">Ngưỡng trên</label>
                            <input type="number" class="form-control" value="<%= meter_alert.max_EC%>" id="max_EC">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center py-1 border-bottom">
                <div class="col-md-8">
                    <span class="font-weight-bold h6">Độ cứng</span>
                    <div class="text-muted">mg/l</div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="">Ngưỡng dưới</label>
                            <input type="number" class="form-control" value="<%= meter_alert.min_docung%>" id="min_docung">
                        </div>
                        <div class="form-group col-6">
                            <label class="">Ngưỡng trên</label>
                            <input type="number" class="form-control" value="<%= meter_alert.max_docung%>" id="max_docung">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center py-1 border-bottom">
                <div class="col-md-8">
                    <span class="font-weight-bold h6">Độ mặn</span>
                    <div class="text-muted">%</div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="">Ngưỡng dưới</label>
                            <input type="number" class="form-control" value="<%= meter_alert.min_doman%>" id="min_doman">
                        </div>
                        <div class="form-group col-6">
                            <label class="">Ngưỡng trên</label>
                            <input type="number" class="form-control" value="<%= meter_alert.max_doman%>" id="max_doman">
                        </div>
                    </div>
                </div>
            </div>
            <% }else if(meter_type == "MUCNUOC"){ %>
            <div class="row align-items-center py-1 border-bottom">
                <div class="col-md-8">
                    <span class="font-weight-bold h6">Mực nước</span>
                    <div class="text-muted">m</div>
                </div>
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="">Ngưỡng dưới</label>
                            <input type="number" class="form-control" value="<%= meter_alert.min_mucnuoc%>" id="min_mucnuoc">
                        </div>
                        <div class="form-group col-6">
                            <label class="">Ngưỡng trên</label>
                            <input type="number" class="form-control" value="<%= meter_alert.max_mucnuoc%>"  id="max_mucnuoc">
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="col-12 d-flex justify-content-end mt-3">
                <button class="btn btn-success" id="save_meter_alert" MeterCode="<%= MeterCode %>" meter_type="<%= meter_type %>">Lưu</button>
            </div>
        </div>
    </div>
    <% } %>
  </section>
  