<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>QUAWACO | Giám sát chất lượng nước</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins_2/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="/plugins_2/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins_2/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="/plugins_2/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">

  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/plugins_2/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/plugins_2/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="/plugins_2/summernote/summernote-bs4.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Select2 -->
  <link rel="stylesheet" href="/plugins_2/select2/css/select2.min.css">
  <link rel="stylesheet" href="/plugins_2/select2-bootstrap4-theme/select2-bootstrap4.min.css">

  <link type="text/css" rel="stylesheet" href="/stylesheets/general_style.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/style_2.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/gs_chat_luong_nuoc.css">

</head>

<body class="hold-transition layout-top-nav">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../partials/header') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="padding-top: 60px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <!-- <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a href="/dashboard">SAO VIỆT</a></li>
                <li class="breadcrumb-item active">Giám sát tổng quan</li>
            </ol>          
        </div>
        </div>
      </div> -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Main row -->
            <div class="row mb-3">
              <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center ">
                <select class="form-control selectpicker mr-2" style="max-width: 13rem;" data-live-search="true"
                  id="filter_danhsachtram" autocomplete="off" required data-dropup-auto="false">
                  <option value="all" dv_type="all">Các đơn vị quản lý</option>
                  <% const groups=danh_sach_xi_nghiep_nha_may.filter(item=> item.parent_id === null);
                    groups.forEach(group => {
                    const subItems = danh_sach_xi_nghiep_nha_may.filter(item => item.parent_id === group.org_id);
                    %>
                    <!-- Nhóm chính -->
                    <option value="<%= group.org_id %>" dv_type="xi_nghiep" style="font-weight: bold;">
                      <%= group.name %>
                    </option>

                    <!-- Các trạm con -->
                    <% subItems.forEach(tram=> { %>
                      <option value="<%= tram.org_id %>" dv_type="nha_may">&nbsp;&nbsp;&nbsp;<%= tram.name %>
                      </option>
                      <% }); %>

                        <% }); %>
                </select>
              </div>
            </div>
            <div class="row">
              <section class="col-lg-3 col-md-4 col-12 " style="max-height: calc(100vh - 160px); overflow: auto;">
                <div class="card">
                  <div class="card-header" style="height: 65px !important;">
                    <div class="row ">
                      <div class="col  ">
                        <h5 class="mt-2" id="ten_tram">
                          <%=count_status%>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-body table-responsive">
                    <input type="text" id="searchInput" class="form-control mb-3" placeholder="Tìm kiếm">

                    <table id="danhsachtram" class="table table-hover" style="width: 100%; table-layout: fixed;">
                      <thead>
                        <tr>
                          <th class="sortable" data_column="name">Tên trạm <i class="fas fa-sort-down"></i></th>
                          <th class="sortable" data_column="status" style="width: 63px">TT <i
                              class="fas fa-sort-down"></i></th>
                        </tr>
                      </thead>
                      <tbody id="danhsachtram_body">
                        <% for(let i=0; i < danh_sach_thiet_bị.length; i++){ %>
                          <tr MeterCode="<%= danh_sach_thiet_bị[i].MeterCode%>"
                            NodeCode="<%= danh_sach_thiet_bị[i].NodeCode %>"
                            meter_name="<%= danh_sach_thiet_bị[i].meter_name %>"
                            meter_status="<%= danh_sach_thiet_bị[i].status_meter%>"
                            data_type="<%= danh_sach_thiet_bị[i].data_type%>">
                            <!-- <td class="text-center"><%= i+1 %></td> -->
                            <td class="text-left">
                              <%= danh_sach_thiet_bị[i].meter_name%>
                            </td>
                            <% if(danh_sach_thiet_bị[i].status_meter==2){ %>
                              <td class="text-center" meter_status="<%= danh_sach_thiet_bị[i].status_meter%>"><span><i
                                    class="fa fa-circle text-success"></i></span></td>
                              <%}else if(danh_sach_thiet_bị[i].status_meter==1){ %>
                                <td class="text-center" meter_status="<%= danh_sach_thiet_bị[i].status_meter%>"><span><i
                                      class="fa fa-circle text-success"></i></span></td>
                                <%}else{ %>
                                  <td class="text-center" meter_status="<%= danh_sach_thiet_bị[i].status_meter%>">
                                    <span><i class="fa fa-circle text-danger"></i></span></td>
                                  <%}%>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </section>
              <section class="col-lg-9 col-md-8 col-12" style="max-height: calc(100vh - 160px); overflow: auto;"
                id="data_section">
                <div class="card" id="danh_sach_nha_may_card" style="display: block;">
                  <div class="card-body" style="min-height: calc(100vh - 200px);">
                    <div class="page-header">
                      <div class="page-title">
                        <div class="d-flex align-items-end">
                          <img src="/images/factory.png" width="35px" class="mr-2">
                          <span style="font-size: x-large; font-weight: bolder; color: #262626cd;">DANH SÁCH NHÀ
                            MÁY</span>
                        </div>

                      </div>
                    </div>
                    <div class="stats-grid" id="danh_sach_nha_may_contaier">
                      <% for(let i=0; i < danh_sach_nha_may.length; i++){ %>
                        <div class="stat-card-large">
                          <div class="d-flex align-items-center">
                            <div class="stat-icon-supper-large"><img src="/images/factory.png" width="35px"></div>
                            <div class="stat-label-large font-weight-bold" style="color: #262626cd;">
                              <%=danh_sach_nha_may[i].org_name %>
                            </div>
                          </div>
                          <div class="panel-actions">
                            <!-- <span class="devices-count" id="filteredCount" style="display: block;">4 thiết bị</span> -->
                            <button class="btn-overview truy_cap_nha_may" org_id="<%=danh_sach_nha_may[i].id_nha_may %>"
                              style="display: block;">Vào giám sát</button>
                          </div>
                          <!-- <div class="stat-value-supper-large font-weight-bold">NM Nước đồng mây</div> -->
                          <!-- <div class="stat-subvalue">4 thiết bị</div> -->
                        </div>
                        <% } %>
                    </div>
                  </div>
                </div>
                <div class="card" id="chi_so_moi_truong_card" style="display: none;">
                  <div class="card-body" style="min-height: calc(100vh - 200px);">
                    <div class="page-header">
                      <div class="page-title">
                        <h4>📈 CHỈ SỐ MÔI TRƯỜNG CHẤT LƯỢNG NƯỚC</h4>
                        <div class="devices-count"><span id="he_thong_giam_sat"></span> hệ thống giám sát</div>
                      </div>
                    </div>

                    <!-- Thống kê tổng quan -->
                    <div class="stats-grid">
                      <div class="stat-card-large">
                        <div class="d-flex align-items-center">
                          <div class="stat-icon-large">🌊</div>
                          <div class="stat-label-large">CHẤT LƯỢNG NƯỚC THÔ</div>
                        </div>
                        <div class="stat-value-large font-weight-bold text-success" id="chat_luong_nuoc_tho">...</div>
                      </div>
                      <div class="stat-card-large">
                        <div class="d-flex align-items-center">
                          <div class="stat-icon-large">💧</div>
                          <div class="stat-label-large">CHẤT LƯỢNG NƯỚC SẠCH</div>
                        </div>
                        <div class="stat-value-large text-success font-weight-bold" id="chat_luong_nuoc_sach">TUYỆT VỜI
                        </div>
                      </div>
                      <div class="stat-card-large">
                        <div class="d-flex align-items-center">
                          <div class="stat-icon-large">⚡</div>
                          <div class="stat-label-large">CẬP NHẬT</div>
                        </div>
                        <div class="stat-value-large" style="font-size: 18px;" id="thoi_gian">...</div>
                      </div>
                      <div class="stat-card-large">
                        <div class="d-flex align-items-center">
                          <div class="stat-icon-large">✅</div>
                          <div class="stat-label-large">TRẠNG THÁI</div>
                        </div>
                        <div class="stat-value-large" style="color: #4CAF50;" id="trang_thai">...</div>
                      </div>
                    </div>
                    <!-- Chất lượng nước -->
                    <div class="row g-4 mt-4">
                      <div class="col-12 col-md-6">
                        <div class="row g-4" id="nuoc_tho_container">

                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="row g-4" id="nuoc_sach_container">

                        </div>
                      </div>
                    </div>

                    <!-- <div style=" text-align: center;">
                      <button class="view-details-btn" id="cai_dat_nguong">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M12 20h9"></path>
                          <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                        </svg>
                        Cài đặt tiêu chuẩn chất lượng nước
                      </button>
                    </div> -->
                    <!-- Tiêu chuẩn chất lượng -->
                    <!-- <div class="card mt-20 water-quality-card">
                      <h5>📋 TIÊU CHUẨN CHẤT LƯỢNG NƯỚC</h5>
                      <div class="standards-grid">
                        <div class="standard-section">
                          <h4>Nước thô </h4>
                          <div class="standard-item">
                            <span class="param-name">Độ đục:</span>
                            <span class="param-limit">≤ <span id="tc_nuoc_tho_do_duc">...</span> NTU</span>
                          </div>
                          <div class="standard-item">
                            <span class="param-name">Độ pH:</span>
                            <span class="param-limit"><span id="tc_nuoc_tho_ph_min">...</span> - <span
                                id="tc_nuoc_tho_ph_max">...</span></span>
                          </div>
                          <div class="standard-item">
                            <span class="param-name">Nhiệt độ:</span>
                            <span class="param-limit">≤ <span id="tc_nuoc_tho_nhiet_do">...</span> °C</span>
                          </div>
                        </div>
                        <div class="standard-section">
                          <h4>Nước sạch </h4>
                          <div class="standard-item">
                            <span class="param-name">Độ đục:</span>
                            <span class="param-limit">≤ <span id="tc_nuoc_sach_do_duc">...</span> NTU</span>
                          </div>
                          <div class="standard-item">
                            <span class="param-name">Độ pH:</span>
                            <span class="param-limit"><span id="tc_nuoc_sach_ph_min">...</span> - <span
                                id="tc_nuoc_sach_ph_max">...</span></span>
                          </div>
                          <div class="standard-item">
                            <span class="param-name">Clo dư:</span>
                            <span class="param-limit"><span id="tc_nuoc_sach_clo_du_min">...</span> - <span
                                id="tc_nuoc_sach_clo_du_max">...</span> mg/l</span>
                          </div>
                          <div class="standard-item">
                            <span class="param-name">EC:</span>
                            <span class="param-limit">≤ <span id="tc_nuoc_sach_EC">...</span> uS/cm</span>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!-- Cảnh báo chất lượng -->
                    <div class="alert-panel water-quality-card">
                      <h5>✅ TRẠNG THÁI CHẤT LƯỢNG</h5>
                      <div class="alert-item alert-low">
                        <div class="alert-icon">🟢</div>
                        <div class="alert-content">
                          <div class="alert-title">Chất lượng nước thô ổn định</div>
                          <div class="alert-desc">Tất cả chỉ số trong ngưỡng cho phép</div>
                          <div class="alert-time">Cập nhật: 14:45</div>
                        </div>
                      </div>
                      <div class="alert-item alert-low">
                        <div class="alert-icon">🟢</div>
                        <div class="alert-content">
                          <div class="alert-title">Chất lượng nước sạch đạt chuẩn</div>
                          <div class="alert-desc">Đáp ứng QCVN 01:2023/BYT</div>
                          <div class="alert-time">Cập nhật: 14:45</div>
                        </div>
                      </div>
                      <div class="alert-item alert-low">
                        <div class="alert-icon">🟢</div>
                        <div class="alert-content">
                          <div class="alert-title">Hệ thống xử lý hoạt động tốt</div>
                          <div class="alert-desc">Hiệu suất xử lý: 98.5%</div>
                          <div class="alert-time">Cập nhật: 14:30</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <!-- right col -->
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <div id="loading-overlay" style="display: none;">
        <div class="spinner-border text-primary" role="status"></div>
        <span>Đang tải dữ liệu...</span>
      </div>
      <div id="notification" class="text-center"></div>

      <!-- Popup cảnh báo -->
      <div id="alert-container" style=" font-size: small;"></div>

      <!-- /.content-wrapper -->
      <!-- modal lịch sử dữ liệu -->
      <div id="lich_su_du_lieu" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
        data-backdrop="static">
        <div class="modal-dialog " role="document" style="max-width: 90%; height: 800px;">
          <div class="modal-content">
            <div class="modal-header">
              <h4>📊 Lịch sử - <span id="modal_title"></span></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row mb-1 d-flex flex-wrap align-items-end">
                <div class="col-md-3 col-6">
                  <div class="form-group">
                    <label for="">Từ ngày:</label>
                    <input class="form-control" type="text" autocomplete="off" id="meter_data_time_from">
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="form-group">
                    <label for="">Đến ngày:</label>
                    <input class="form-control" type="text" autocomplete="off" id="meter_data_time_to">
                  </div>
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary mr-2" style="margin-bottom: 16px" onclick="init_data()"> <i
                      class="fa fa-search" aria-hidden="true"></i> Xem dữ liệu</button>
                  <button class="btn btn-success" style="margin-bottom: 16px" onclick="export_data()"> Xuất dữ
                    liệu</button>
                </div>
              </div>
              <ul class="nav nav-tabs" id="nuocThoTabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="tab-chart" data-toggle="tab" href="#chart" role="tab">
                    Biểu đồ
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " id="tab-history" data-toggle="tab" href="#history" role="tab">
                    Lịch sử
                  </a>
                </li>

              </ul>
              <!-- Tab content -->
              <div class="tab-content mt-3">

                <!-- TAB LỊCH SỬ -->
                <!-- TAB BIỂU ĐỒ -->
                <div class="tab-pane fade show active" id="chart" role="tabpanel">

                  <div id="history_chart_div" style="width: 100%; height: 500px;"></div>

                </div>
                <div class="tab-pane fade " id="history" role="tabpanel" style="width: 100%; min-height: 500px;">

                  <table id="history_table" class="table w-100">
                    <thead id="history_table_thead" style="background-color: #a8dbf0;">

                    </thead>
                    <tbody id="history_table_tbody">

                    </tbody>
                  </table>

                </div>


              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /.content-wrapper -->


      <!-- /.content-wrapper -->

      <!-- modal cài đặt ngưỡng -->
      <div id="cai_dat_nguong_modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
        data-backdrop="static">
        <div class="modal-dialog " role="document" style="max-width: 90%; height: 800px;">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Cài đặt tiêu chuẩn chất lượng nước</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="settings-container">
                <h3>Tiêu chuẩn nước thô</h3>
                <div class="standard-grid">
                  <div class="standard-card">
                    <h4>🌊 Nước thô</h4>
                    <div class="parameter-setting">
                      <div class="parameter-info">
                        <div class="parameter-name">Độ đục</div>
                        <div class="parameter-unit">NTU</div>
                      </div>
                      <div class="threshold-inputs">
                        <div class="threshold-input">
                          <label>Ngưỡng dưới</label>
                          <input type="number" id="raw-turbidity-min" step="0.1">
                        </div>
                        <div class="threshold-input">
                          <label>Ngưỡng trên</label>
                          <input type="number" id="raw-turbidity-max" step="0.1">
                        </div>
                      </div>
                    </div>
                    <div class="parameter-setting">
                      <div class="parameter-info">
                        <div class="parameter-name">Độ pH</div>
                        <div class="parameter-unit">pH</div>
                      </div>
                      <div class="threshold-inputs">
                        <div class="threshold-input">
                          <label>Ngưỡng dưới</label>
                          <input type="number" id="raw-ph-min" step="0.1">
                        </div>
                        <div class="threshold-input">
                          <label>Ngưỡng trên</label>
                          <input type="number" id="raw-ph-max" step="0.1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <h3 style="margin-top: 30px;">Tiêu chuẩn nước sạch</h3>
                <div class="standard-grid">
                  <div class="standard-card">
                    <h4>💧 Nước sạch</h4>
                    <div class="parameter-setting">
                      <div class="parameter-info">
                        <div class="parameter-name">Nhiệt độ</div>
                        <div class="parameter-unit">°C</div>
                      </div>
                      <div class="threshold-inputs">
                        <div class="threshold-input">
                          <label>Ngưỡng dưới</label>
                          <input type="number" id="clean-temp-min" step="0.1">
                        </div>
                        <div class="threshold-input">
                          <label>Ngưỡng trên</label>
                          <input type="number" id="clean-temp-max" step="0.1">
                        </div>
                      </div>
                    </div>
                    <div class="parameter-setting">
                      <div class="parameter-info">
                        <div class="parameter-name">Độ pH</div>
                        <div class="parameter-unit">pH</div>
                      </div>
                      <div class="threshold-inputs">
                        <div class="threshold-input">
                          <label>Ngưỡng dưới</label>
                          <input type="number" id="clean-ph-min" step="0.1">
                        </div>
                        <div class="threshold-input">
                          <label>Ngưỡng trên</label>
                          <input type="number" id="clean-ph-max" step="0.1">
                        </div>
                      </div>
                    </div>
                    <div class="parameter-setting">
                      <div class="parameter-info">
                        <div class="parameter-name">Clo dư</div>
                        <div class="parameter-unit">mg/l</div>
                      </div>
                      <div class="threshold-inputs">
                        <div class="threshold-input">
                          <label>Ngưỡng dưới</label>
                          <input type="number" id="clean-clo-min" step="0.1">
                        </div>
                        <div class="threshold-input">
                          <label>Ngưỡng trên</label>
                          <input type="number" id="clean-clo-max" step="0.1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button class="btn btn-info" onclick="resetStandards()">Đặt lại mặc định</button>
              <button class="btn btn-success" onclick="saveStandards()">Lưu cài đặt</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.content-wrapper -->
  </div>
  <!-- ./wrapper -->
  <!-- jQuery -->
  <!-- <script src="/plugins_2/jquery/jquery.min.js"></script> -->
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <!-- jQuery UI 1.11.4 -->
  <script src="/plugins_2/jquery-ui/jquery-ui.min.js"></script>
  <!-- amchartjs -->
  <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>


  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="/plugins_2/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Select2 -->
  <script src="/plugins_2/select2/js/select2.full.min.js"></script>

  <!-- ChartJS -->
  <script src="/plugins_2/chart.js/Chart.min.js"></script>
  <!-- Sparkline -->
  <script src="/plugins_2/sparklines/sparkline.js"></script>
  <!-- JQVMap -->
  <script src="/plugins_2/jqvmap/jquery.vmap.min.js"></script>
  <script src="/plugins_2/jqvmap/maps/jquery.vmap.usa.js"></script>
  <!-- jQuery Knob Chart -->
  <script src="/plugins_2/jquery-knob/jquery.knob.min.js"></script>
  <!-- daterangepicker -->
  <script src="/plugins_2/moment/moment.min.js"></script>
  <script src="/plugins_2/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/plugins_2/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="/plugins_2/summernote/summernote-bs4.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="/plugins_2/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/dist/js/adminlte.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="/dist/js/pages/dashboard.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/dist/js/demo.js"></script>
  <!-- DataTables -->

  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script> -->

  <!-- DataTable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  <script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script>
  <!-- momentjs and daterangepicker -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <!-- bootsrap-select -->
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
    rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script>
    var user_id = <% - user_id %>

      $(function () {
        $('.selectpicker').selectpicker();
      });
    function showLoading() {
      document.getElementById("loading-overlay").style.display = "flex";
    }

    function hideLoading() {
      document.getElementById("loading-overlay").style.display = "none";
    }
    $('.select2bs4').select2({
      theme: 'bootstrap4',
      closeOnSelect: false,
      tags: true

    })

    $(".select2bs4").on("select2:select", function (evt) {
      var element = evt.params.data.element;
      var $element = $(element);

      $element.detach();
      $(this).append($element);
      $(this).trigger("change");
    });

    function show_notification(message, type) {
      var notification = $("#notification");
      notification.text(message).removeClass("error success").addClass(type);
      notification.css("top", "20px").fadeIn();

      // Ẩn sau 3 giây
      setTimeout(function () {
        notification.fadeOut(function () {
          notification.css("top", "-50px");
        });
      }, 5000);
    }
  </script>
  <script src="/javascripts/general.js"></script>
  <script src="/javascripts/overview.js"></script>

</body>

</html>